<!DOCTYPE html>
    <html>
    <head>
    	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    	<title>An Error Occurred: {{ status_text }}</title>
    </head>
    <body>
	<img id="Imgi_Error404" alt="" src="{{ asset('bundles/portalpaginaweb/images/error404.png') }}">
    </body>
    </html>
